<div id="canvas-an" style="width:100%;border:1px solid white; height:100%"></div> 

<div class="skillbar clearfix " id="bar-femme" data-percent="20%">
	<div class="skillbar-title" style="background: #2E7D32;"><span>Femme</span></div>
	<div class="skillbar-bar" style="background: #66BB6A;"></div>
	<div class="skill-bar-percent" id="bar-femme-span">20%</div>
</div>
<div class="skillbar clearfix " id="bar-homme" data-percent="80%">
	<div class="skillbar-title" style="background: #C62828;"><span>Homme</span></div>
	<div class="skillbar-bar" style="background: #EF5350;"></div>
	<div class="skill-bar-percent" id="bar-homme-span" >80%</div>
</div>