#g-chart {
  overflow: hidden;
  position: relative;

}

.g-legend {
  color: #999;
  font: 11px/1.3em Verdana;
  height: 30px;
  margin-top: 15px;
  position: relative;
  text-align: center;
}

.g-arrow {
  position: absolute;
  width: 100px;
}

.g-arrow:before {
  position: absolute;
  font-size: 15px;
  font-style: normal;
  top: 7px;
}

.g-femme.g-arrow {
  left: 170px;
  padding-left: 40px;
}

.g-arrow.g-femme:before {
  content: "←";
  right: 100px;
}

.g-homme.g-arrow {
  right: 170px;
  padding-right: 40px;
}

.g-arrow.g-homme:before {
  content: "→";
  left: 100px;
}

.g-overview {
  position: absolute;
  left: 360px;
  text-align: center;
  width: 250px;
}

.g-legend .g-femme.g-pointer {
  position: absolute;
  left: 314px;
  text-align: right;
  padding-right: 20px;
}

.g-label .g-value, .g-label .g-percent  {
  display:none;
}
.g-label.g-hover .g-value, .g-label.g-hover .g-percent {
  display:block;
}
.g-label.g-hover .g-name {
  display:none;
}

.g-node .g-femme {
  fill: #bfff7f;
}

.g-node.g-hover .g-femme {
  fill: #abe572; 
}

.g-node .g-homme {
  fill: #ab72e5;
}

.g-node.g-hover .g-homme {
  fill: #ab72e5; 
}

.g-node .g-split {
  stroke: #000;
  stroke-opacity: .18;
  shape-rendering: crispEdges;
}

a.g-label {
  font-family:Verdana;
  color: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}


.g-overlay,
.g-node,
.g-label {
  -webkit-tap-highlight-color: transparent;
}

.g-overlay {
  fill: none;
  pointer-events: all;
}

.g-overview{
  position: absolute;
  left: 360px;
  text-align: center;
  width: 250px;
}
